@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* h1,h2,h3,h4,h5,h6,p,a {
    font-family: sans-serif;
}

nav{
    width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
  position: fixed;  
  align-items: center;
 top: 0;
 left: 0;
 align-items: center;
 padding: 20px 100px;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul a{
    color: #fdfdfd;
    text-decoration: none;
    
}
nav ul .conum{
     border: 1px solid #808080; 
    position: relative;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 16px
    
}
nav ul .conum{
    border-radius: 80px;
    margin-left: 56px 
    
}
nav ul .conum:hover{
    background-color: #0099ff;
}
.bar1, .bar2, .bar3{
    background-color: white;
    height: 4px;
    width: 30px;
    margin: 3px;
    border-radius: 10px;
}
nav .hamburger{
    display: none;
}
.home{
    background-image: url(https://juspay.in/blog/images/slider_bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fdfdfd;;
}
.home h4{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    font-family: 'Poppins';
    line-height: 24px;
    color: #fdfdfd;
}
.home h1{
 font-weight: 700;
 font-size: 28px;
 margin-top: 16px;
 margin-bottom: 40px;
 /* font-family:  Poppins; */
 line-height: 36px;
 color: #fdfdfd;;
}
.home button{
    background-color: #0099ff;
    border-radius: 80px;
    padding: 12px 24px;
    font-size: 18px;
    color: #fdfdfd;
    cursor: pointer;
    display: flex;
}
.home button img{
   width: 22px;
     height: auto;
     margin-left: 8px 
     
}
.main{
    padding: 5rem 10vw;
}
.main .list ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.main .list ul li{
    padding: 12px 0 20px;
    margin-right: 32px;
    color: #33333380;
    cursor: pointer;
}
.main .list ul li a{
    text-decoration: none;
    color: #33333380;
}
/* .main .list ul li button{
    padding: 5rem;
    background-color: aqua;
} */
.main .list .active{
    color: #0099ff;
}
.main .list ul li a:hover{
    color: #0099ff;
}
.list_img{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
    
}
.main .container{
    width: 30%;
    /* border: 2px solid blue; */
    padding: 20px 20px 10px 0px;
    flex-shrink: 0;
    flex-grow: 0;
}
.main .container img{
    width: 100%;
    height: auto;
    /* border: 2px solid green; */
    aspect-ratio: 3/2 auto;
    border-radius: 4px;
    object-fit: cover;
    object-position: center;
}
.container .title a{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #474747;;
    text-decoration: none;
}
.container h3{
margin-top: 0.75rem;
font-size: 20px;
font-weight: 600;
line-height: 32px;
color: #333;
}
.container p{
    margin-top: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    color: #474747;
}
.container h4{
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 14px;
    color: #b3b3b3;
    line-height: 16px;
} 
.container h6{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #555;
}


footer{
    background-color: #333333;
    color: white;
     padding: 3rem 20vw; 
}

.footer_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
}
/* .footer_list_text{
     width: 50%; 
    flex-grow: 0;
    flex-shrink: 0;
} */
.footer_list{
    width: 10%; 
    flex-grow: 0;
    flex-shrink: 0;
    gap: 60px;
    
}
.footer_list a{
    color: #f0f0f0;;
    line-height: 2rem;
}
.footer_content h3{
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-family: Poppins,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-size: 1.365rem;
    color: #fdfdfd;;
    font-weight: 500;
}
.footer_content p{
    color: white;
    line-height: 1.5rem;
}
footer .copy_right{
    padding-top: 3rem;
    color:#f0f0f0;;
    text-align: center;
    line-height: 1.5rem;
}




@media only screen and (max-width: 768px){
    .main{
        padding: 5rem 5vw;
    }
    nav ul{
        display: none;
    }
    .main .list ul{
        display: flex;
        flex-direction: column;
        
    }
    .main .container{
        width: 50%;
        /* border: 2px solid blue; */
         padding: 10px 10px; 
        flex-shrink: 0;
        flex-grow: 0;
    }
   
    nav .hamburger{
        display: flex;
        flex-direction: column;
       justify-content: space-between;
        align-items: center;

    }
    .footer_content{
        display: flex;
        flex-direction: column;
    }
    .footer_list{
        width: 20%; 
    }
}
    
