@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* h1,h2,h3,h4,p,a {
    font-family: sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    align-items: center;
    background-color: #fff;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: darkslategrey;
}
.bar1, .bar2, .bar3{
    background-color: rgb(12, 12, 12);
    height: 4px;
    width: 30px;
    margin: 3px;
    border-radius: 10px;
}
nav .hamburger{
    display: none;
}
main{
    padding: 5rem 10vw;
    
}
.content{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
}
main h4{
    color: #09f;
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* font-family: Poppins; */
}
.text{
    width: 40%;
    margin-right: 40px;
    
} 
.text h1{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #333
}
.text p{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #555;
}
 .video{
     width: 40%; 
     
} 
.future_list{
    padding: 5rem 0;
}
.future_list ul{
    display: flex;
    gap: 50px;
    list-style: none;
    
}
.future_list a{
    text-decoration: none;   
    color: #555;
    font-size: 18px;
    font-weight: 400;
}
.future_list li{
    margin-bottom: 10px;
}
.future_list a:hover{
    color: #09f;
}
.future_list hr:hover{
    color: #09f;
}
.sub_content{
    display: flex;
    flex-direction: row; 
    /* border: 1px solid black; */
    padding: 1rem;

   
}

/* .sub1{
    display: flex;
    justify-content: space-between;
} */
.sub_content .video{
    width: 50%;
    margin-bottom: 40px;
    
}
.sub_content .text{
    width: 40%;
    margin-left: 100px;
}
.sub_content:hover{
    box-shadow: 5px 5px 5px #555;
    
}* h1,h2,h3,h4,h5,h6,p,a {
    font-family: sans-serif;
}

@media only screen and (max-width:768px) {
    nav ul{
      display: none;
    }
    main{
        padding: 5rem 5vw;
        
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .text{
        width: 100%;
        margin-right: 40px;
        
    } 
    .video{
        width: 100%; 
        
   } 
   .sub_content{
    display: flex;
    flex-direction: column; 
}
.sub_content .video{
    width: 100%;
    margin-bottom: 40px;
    
}
.sub_content .text{
    width: 100%;
    margin-left: 50px;
}
}