body{
    margin: 0%;
    padding: 0%;
}

.part1{
    display: flex;
    background-color:rgb(50,54,77);
    flex-direction: column;
    padding-left: 10%;
    padding-top: 12%;
    width: 89.4%;
    margin-top: -6%;
}

.text1{
    color: white;
    font-size: 6rem;
    font-family: sans-serif;
    width: 95%;
    letter-spacing: -04px;
    font-weight: 750;
}

.text2{
    font-size: 1.1rem;
    font-family: sans-serif;
    margin-top: -4%;
    margin-bottom: 2%;
    line-height: 180%;
    color: white;
    width: 60%;
}

.b1{
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-family: sans-serif;
    color: #38536a;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0;
    padding: 14px 20px;
    margin-bottom: 7%;
    background-color: white;
    width: 158px;
}

.taga{
    text-decoration: none;
}

.pic{
    position: absolute;
    top: 17%;
    left: 45%;
}

.img1{
    width: 78%;
}





.part2{
    display: flex;
    background-color: rgb(244,249,253);
    align-items: flex-start;
}

.part21{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 9%;
}

.pic1{
    margin-left: 10%;
    margin-top: 10%;
}

.b2{
    background-color: blue;
    color: white;
    margin-top: 25%;
    margin-bottom: 120%;
    width: 163px;
}

li::marker{
    color: blue;
    font-size: 30px;
}

.pic11{
    width: 90%;
    margin-top: 10rem;
    margin-left: -2%;
}

.title{
    color: #006dff;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: sans-serif;
}

h2{
    font-size: 60px;
    font-family: sans-serif;
    width: 60%;
    margin-top: -1%;
}

.nf2{
    font-size: 18px;
    font-family: sans-serif;
    line-height: 2rem;
    width: 80%;
    margin-top: -4%;
}

.lipm2{
    margin-top: 1%;
}

.p2b{
    background-color: white;
}

.hw1{
    width: 58%;
}
.pic12{
    width: 200%;
    margin-left: -125%;
    margin-top: 63%;
    margin-bottom: 25%;
}

.sb{
    margin-top: 1%;
}

.sb1{
    width:62%;
}
.wip{
    width: 60%;
}

.f2, .f3{
    display: flex;
}

.f3{
    width: 40%;
    margin-top: -4%;
    margin-left: 1%;
    font-family: sans-serif;
    line-height: 22px;
}

.fm{
    margin-left: 25%;
}

.fm1{
    width: 80%;
}

.fm2{
    width: 40%;
    margin-left: -25%;
}
.fs{
    margin-left: 8%;
}

.f2{
    margin-top: 2%;
}

.pic13{
    width: 158%;
    margin-left: -60%;
    margin-top: 57%;
}

.liw{
    width: 90%;
}

.pic14{
    margin-top: 40%;
    margin-left: -15%;
}

.nfb{
    width: 60%;
}

.ou{
    font-family: sans-serif;
    width: 50%;
    line-height: 35px;
}
.pic15{
    width: 208%;
    margin-left: -110%;
    margin-top: 80%;
}


.fbo{
    width: 58%;
}

.pic16{
    width: 245%;
    margin-left: -150%;
    margin-top: 50%;
}


.siw{
    width: 65%;
}

.pic17{
    width: 197%;
    margin-left: -100%;
    margin-top: 20%;
}

.ebw{
    width: 60%;
}

.ch4{
    font-size: 20px;
    color: #006dff;
    font-family: sans-serif;
}

.cldiv{
    background-color: rgb(244,249,253);
    margin-bottom: 2%;
    width: 60%;
}

.pl{
    margin-left: 4%;
    font-family: sans-serif;
}

.pics img{
    margin-left: 2%;
    margin-bottom: 10%;
}

.pic18{
    width: 170%;
    margin-left: -80%;
    margin-top: 75%;
}

.ssf{
    width: 65%;
}

.usfa{
    width: 60%;
}

.pic19{
    width: 148%;
    margin-left: -50%;
    margin-top: 40%;
    margin-bottom: 40%;
}

.jct{
    width: 67%;
}

.tfo{
    width: 80%;
}

.ets{
    width: 75%;
}

.rma{
    font-size: 18px;
    font-family: sans-serif;
}

.link{
    text-decoration: none;
    color: blue;
    font-weight: 700;
}

.pic20{
    width: 148%;
    margin-left: -50%;
    margin-top: 63%;
}


.aasr{
    width: 160%;
}


.pic21{
    width: 150%;
    margin-left: -90%;
    margin-top: 90%;
    margin-bottom: -0.5%;
}

.nf12{
    width: 58%;
}

.lastd{
    background-color: rgb(50,54,77);
    height: 30rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lastp1{
    font-size: 60px;
    color: white;
    font-weight: 600;
    width: 30%;
    font-family: sans-serif;
}

.lastp2{
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    margin-top: -8%;
    margin-left: -8%;
}

.lastbut{
    height: 3rem;
    width: 25%;
    color: rgb(50,54,77);
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: white;
    font-weight: 600;
}

.st{
    font-weight: lighter;
}



.nav{
    height: 15vh;
    width: 99.4%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: rgb(50,54,77);
}

.n_logo{
    margin-left: 40px;
}

.n_items{
    margin-left: 200px;
}

.n_items a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 4rem;
    font-size: 14px; 
    font-family: sans-serif;
}


.n_button{
    height: 50px;
    width: 100px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.n_button a{
    color: rgb(19, 19, 19);
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
}
.lastbut{
    cursor: pointer;
}




footer{
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
    max-width: 100%;
    padding-bottom: 11em;
    padding-top: 10em;
    position: relative;
    width: 99.4%;
    z-index: 5;
    align-content: stretch;
    background-color:#f4f9fd;
}
footer a{
    text-decoration: none;
}
footer nav{
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    grid-column-end: span 2;
    grid-row-end: span 1;
    line-height: 2.5;
    display: flex;
    flex-direction: column;

}
footer nav h3{
    color: #000000cc;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 24.5px;
    
}
footer nav a{
    color: #000000cc;
    font-family: sans-serif;
    font-size: 14px;
    
}


footer .col1
{
    grid-column-start: 2;
}
footer .col2 
{
    grid-column-start: 4;
    justify-content: space-between;
}
footer .col3
{
    grid-column-start: 6;
}
footer .col4
{
    grid-column-start: 8;
}
footer .col5
{
    gap: 60px;
    grid-column-start: 10;
    grid-column-end: 12;  
}
footer .col5 .footericon{
    display: flex;
    gap: 20px;
}
footer .col5 .footericon img{
    width: 80px;
    object-fit: contain;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
    padding: 0;
    border-style: none;
}
footer .col5 .footericon2{
    display: flex;
    gap: 32px;
}
footer .col5 .footericon2 figure{
    margin: 0 0 1.45rem;
    padding: 0;
}
footer .col5 .footericon2 {
    margin: 0 0 1.45rem;
    padding: 0;
}

.bar1 , .bar2 , .bar3{
    background-color: black;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
    
}
 .hamburger{
    display: none;
    margin-right: 20px;
}



.bar1 , .bar2 , .bar3{
    background-color: black;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
    
}
 .hamburger{
    display: none;
    margin-right: 20px;
}

.mobileNav{
    width: 80px;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -160px;
    padding: 16px;
    transition: transform 0.3s;
    display: none;
    margin-top: 8vh;
}


.openDrawer{
    transform: translateX(-840px);
}
.mobileNav a{
    text-decoration: none;
    color: rgb(141, 130, 130);
    margin: 10px 0;
    height: 20px;
    width: 100px;
    /* background-color: #8B8970; */
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding-top: 5px;
}
.mobileNav a:hover{
    text-decoration: none;
    /* background: rgb(210, 216, 210); */
    color: white;
    font-weight: 500;
}




@media only screen and (max-width:768px){

    .nav{
        width:99%;
    }
    .part1{
        display: flex;
        background-color:rgb(50,54,77);
        flex-direction: column;
        padding-left: 10%;
        padding-top: 12%;
        width: 89%;
        margin-top: -6%;
    }

    .text1{
        color: white;
        font-size: 2.9rem;
        font-family: sans-serif;
        letter-spacing: -02px;
        font-weight: 750;
        margin-left: -3%;
        margin-top: -4%;
    }

    .text2{
        font-size: 0.7rem;
        font-family: sans-serif;
        margin-top: -2%;
        margin-bottom: 2%;
        line-height: 180%;
        color: white;
        margin-left: -3%;
        width: 60%;
    }

    .brme{
        display: none;
    }
    
    .b1{
        border: none;
        border-radius: 12px;
        cursor: pointer;
        font-family: sans-serif;
        color: #38536a;
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 0;
        padding: 14px 20px;
        margin-bottom:70%;
        margin-left: -3%;
        background-color: white;
    }
    .pic{
        position: absolute;
        top: 14%;
        left: 11%;
        width: 80%;
    }


    .part2{
        display: flex;
        background-color: rgb(244,249,253);
        align-items: flex-start;
    }
    .pic1{
        margin-left: 6%;
        margin-top: 10%;
        width: 4.5%;
    }
    .title{
        color: #006dff;
        font-size: 0.7rem;
        font-weight: 500;
        font-family: sans-serif;
    }
    h2{
        font-size: 30px;
        font-family: sans-serif;
        width: 134%;
        margin-top: -1%;
    }
    .nf2{
        font-size: 10px;
        font-family: sans-serif;
        line-height: 1.2rem;
        width: 164%;
        margin-top: -4%;
    }

    .lipm2{
        margin-top: 1%;
        width: 145%;
        margin-left: -3%;
    }
    li::marker{
        color: blue;
        font-size: 30px;
    }

    .b2{
        background-color: blue;
        color: white;
        margin-top: 25%;
        margin-bottom: 120%;
    }

    .pic11{
        width: 125%;
        margin-top: 30rem;
        margin-left: -75%;
        margin-bottom: 18%;
    }
    .pic12{
        width: 215%;
        margin-left: -220%;
        margin-top: 170%;
        margin-bottom: 25%;
    }
    .hw1{
        width: 97%;
    }
    .nf12{
        width: 111%;
    }
    .part21{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 2%;
        margin-top: 9%;
    }
    .p2b{
        background-color: white;
    }
    .wip {
        width: 92%;
    }
    .sb{
        margin-top: 1%;
    }
    
    .sb1{
        width:124%;
    }
    .fm{
        margin-left: 80%;
    }
    
    .fm1{
        width: 100000000%;
        font-size: 10px;
        margin-right: -34%;
        line-height: 150%;
    }
    
    .fm2{
        width: 40%;
        margin-left: 38%;
        font-size: 10px;
        line-height: 150%;
    }
    .pic13 {
        width: 205%;
        margin-left: -140%;
        margin-top: 202%;
    }
    .roew{
        width: 202%;
    }
    .joe{
        width: 200%;
    }
    .lipm3{
        width: 190%;
    }
    .pic14 {
        margin-top: 125%;
        margin-left: -92%;
        width: 140%;
        margin-bottom: 15%;
    }
    .ufs{
        width: 51%;
    }
    .nfb {
        width: 116%;
    }
    .ou {
        font-family: sans-serif;
        width: 105%;
        line-height: 35px;
        font-size: 10px;
    }
    .pic15 {
        width: 240%;
        margin-left: -198%;
        margin-top: 230%;
        margin-bottom: 30%;
    }
    .fbo{
        width: 103%;
    }
    .pic16 {
        width: 245%;
        margin-left: -232%;
        margin-top: 175%;
        margin-bottom: 30%;
    }
    .siw{
        width: 133%;
    }
    
    .pic17 {
        width: 220%;
        margin-left: -160%;
        margin-top: 95%;
    }
    .fmp{
        width: 55%;
    }
    .ebw {
        width: 60%;
    }
    .ch4 {
        font-size: 15px;
        color: #006dff;
        font-family: sans-serif;
    }
    .cldiv {
        background-color: rgb(244,249,253);
        margin-bottom: 2%;
        width: 128%;
    }
    .pics img {
        margin-left: 2%;
        margin-bottom: 5%;
        margin-right: 2%;
    }
    .pic18 {
        width: 186%;
        margin-left: -173%;
        margin-top: 415%;
        margin-bottom: 30%;
    }
    .usfa {
        width: 130%;
    }
    .ssf {
        width: 125%;
    }
    .pic19 {
        width: 190%;
        margin-left: -122%;
        margin-top: 128%;
        margin-bottom: 40%;
    }
    .jct {
        width: 133%;
    }
    .rma {
        font-size: 12px;
        font-family: sans-serif;
    }
    .pic20 {
        width: 186%;
        margin-left: -129%;
        margin-top: 155%;
        margin-bottom: 30%;
    }
    .rph{
        width: 163%;
    }
    .aasr {
        width: 242%;
    }
    .pic21 {
        width: 106%;
        margin-left: -47%;
        margin-top: 69%;
        margin-bottom: -0.9%;
    }
    .lastd {
        background-color: rgb(50,54,77);
        height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .lastp1 {
        font-size: 26px;
        color: white;
        font-weight: 600;
        width: 72%;
        font-family: sans-serif;
    }
    .lastp2 {
        font-size: 12px;
        color: white;
        font-family: sans-serif;
        margin-top: -46%;
        margin-left: -21%;
    }
    .lastbut {
        height: 3rem;
        width: 31%;
        color: rgb(50,54,77);
        font-size: 13px;
        border-radius: 10px;
        border: none;
        background-color: white;
        font-weight: 600;
        cursor: pointer;
    }
    .img1{
        max-width: 140%;
        width: 90%;
        margin-left: 18%;
    }
    .liw{
        width: 80%;
    }

    footer {
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
        grid-template-rows: auto auto auto; 
        padding-bottom: 5em; 
        padding-top: 5em;
        width: 99%;
    }

    footer .col1,
    footer .col2,
    footer .col3,
    footer .col4 {
        grid-column: span 1; 
    }

    footer .col1,
    footer .col2 {
        grid-row: 1; 
    }

    footer .col3,
    footer .col4 {
        grid-row: 2; 
    }
    .footericon {
        margin-left: 60px;
        margin-top: 60px;
    }

    

    footer .col5 {
        grid-column: span 2; 
        grid-row: 3; 
        text-align: center; 
    }
    .Layout-module{
        margin-left: 80px;
    }

    footer nav {
        text-align: center; 
    }
    
    .n_items{
        display: none;
    }
    .n_button{
        display: none;
    }

    .nav .hamburger{
        display: flex;
        color: #fff;
        flex-direction: column;
        z-index: 2;
    }


    .animateBar1{
        animation: flipBar1 0.5s;
        animation-fill-mode: forwards;
    }
    .animateBar2{
        animation: fadeBar2 0.5s;
        animation-fill-mode: forwards;
    }
    .animateBar3{
        animation: flipBar3 0.5s;
        animation-fill-mode: forwards;
    }

    .mobileNav{
        width: 100%;
        background-color: #fff;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 0;
        top: 0;
        right: -840px;
        padding: 16px;
        transition: transform 0.3s;
        margin-top: 12vh;
        
    }

    @keyframes flipBar1 {
        from{
            transform: rotate(0);
        }to{
            transform: rotate(45deg) translate(4px , 10px);
        }
    }
    @keyframes fadeBar2 {
        from{
            transform: scaleX(1);
            opacity : 1;
        }to{
            transform: scaleX(0);
            opacity : 0;
        }
    }
    @keyframes flipBar3 {
        from{
            transform: rotate(0);
        }to{
            transform: rotate(-45deg) translate(4px , -10px);
        }
    }

}